<ion-view>
  <ion-nav-title>
    <h1 class="title">Inicio</h1>
    </ion-nav-title>
     <div>
    	<ion-pane>
     	 <ion-header-bar class="bar-positive"  align­ title= "center">
      		</ion-header-bar>
      <ion-content padding="true" class="has-header">
        <h2> <center><strong>Como funciona? </strong></center></h2> 
        <h4><center>A contratação é simples, rápida e 80% online. Com apenas alguns cliques, você descobre a sua taxa personalizada, envia proposta !</center></h4> 
        <center><img src="img/circle-1.png"></center> 
        <h3> <center>Conecte e Personalize </center></h3> 
        <h5><center>Conecte e envie seu cadastro, é assim que faremos sua análise de crédito</center></h5>
        <center><img src="img/circle-2.png"></center> 
        <h3> <center>Informe seus dados </center></h3> 
        <h5><center>Para sabermos quem é você, leva menos de 5min</center></h5>
        <center><img src="img/circle-3.png"></center> 
        <h3> <center>Assine</center></h3> 
        <h5><center>Assim que a proposta for aprovada, entraremos em contato e um operador ira até voce colher suas assinaturas</center></h5>
        <center><img src="img/circle-4.png"></center> 
        <h3> <center>Dinheiro na conta!</center></h3> 
        <h5><center>Caso a proposta seja aprovada pelo banco, seu dinheiro e liberado em apenas 2 dias e depositado em sua conta</center></h5>
      </div>
  
</ion-view>
