<ion-view>
  <ion-nav-title>
    <h1 class="title">Inicio</h1>
    </ion-nav-title>
     <div>
      <ion-pane class ="home-custom">
       <ion-header-bar class="bar-positive"  align­ title= "center">
          </ion-header-bar>
      <ion-content padding="true" class="has-header">
      <br>
      <br>
      <ion-item id="bt2">
        <h1>Como funciona? </h1> 
       
     </ion-item>


      <ion-item menu-close class="item-icon-left">
          <a href="#/menu/jornada" style="text-decoration:none">
             <button class="button button-block button-balanced" style="color:White;" id="botao-home" >
               Iniciar Jornada
    </button>
            </a>
          </ion-item>
      </div>
  
</ion-view>
      
