<ion-view>
  <ion-nav-title>
    <h1 class="title">Inicio</h1>
    </ion-nav-title>
     <div>
      <ion-pane class ="home-custom">
       <ion-header-bar class="bar-positive"  align­ title= "center">
          </ion-header-bar>
      <ion-content padding="true" class="has-header">
       <div class="card">
      <div class="item item-text-wrap" id="bt" font-family= "Merriweather";>
        <h1>Como funciona? </h1> 
       <h2 id="home-desc">Facil e pratico de se utilizar, você podera ir sincronizando e salvando seus dados, local assim que possuir uma conexão com a internet podera os enviar para o banco de dados Caso necessite de alguma informação Entre em contato nos Telefones : </h2>
       <br>
            <h2 id="home-tel"> 0800 702 9844 
            <br> 
            (16) 99194 - 2397 Claro
            <br>
            (16) 99998 - 9969 CTBC
            <br>
            registrojor@sac.com.br
            </h2>

     </div>

</div>
          <a href="#/menu/jornada" style="text-decoration:none">
             <button class="button button-block button-balanced" style="color:White;" id="botao-home">
               Iniciar Jornada
              </button>
            </a>
     
      </div>
  
</ion-view>
      
