<ion-view>
  <ion-nav-title>
    <h1 class="title" style="text-decoration:bold; text-align:center">Jornada</h1>
    </ion-nav-title>
     <div>
      <ion-pane>
      <ion-content ng-controller="AppCtrl">
     <ul class="list">

   <a href="#/menu/mapa" style="text-decoration:none">
    <button class="button button-block button-dark" style="color:White;" ng-click="inicioJ()">
        Inicio Jornada
    </button>
   </a>

     <ion-toggle ng-click="direcao()" id="direcao">
          Direção
    </ion-toggle>
    <ion-toggle ng-click="refeicao()" id="refeicao">
          Refeição
    </ion-toggle>
    <ion-toggle ng-click="descanso()">
          Descanso
    </ion-toggle>
    <ion-toggle ng-click="carga()">
          Carga
    </ion-toggle>
    <ion-toggle ng-click="descarga()">
          Descarga
    </ion-toggle>
    <ion-toggle ng-click="abastecimento()">
          Abastecimento
    </ion-toggle>
    <ion-toggle ng-click="tempoc()">
          Tempo cliente
    </ion-toggle>
    <ion-toggle ng-click="fiscalizacao()">
          Fiscalização
    </ion-toggle >
    <ion-toggle ng-click="manutencao()">
          Manutenção
    </ion-toggle>
    <ion-toggle ng-click="pernoite()">
          Pernoite
    </ion-toggle>

 <a href="#/menu/consulta" style="text-decoration:none"><button class="button button-block button-dark" style="color:white;">Finalizar Jornada</button></a>


  
</ion-view>
