<ion-view>
  <ion-nav-title>
    <h1 class="title">Jornada</h1>
    </ion-nav-title>
     <div>
      <ion-pane>
       <ion-header-bar class="bar-positive"  align­ title= "center">
          </ion-header-bar>
      <ion-content>
        <label class="item item-input item-select">
          Atividade
        <select class="ion-input-select-large" ng-model="">
         <option ng-repeat="" value ="{{}}">
       </option>
       </select>
      </label>
      <ion-item class="item-button">
        <button class="button button-block button-dark" style="color:white;">Inicio</button>
        <button class="button button-block button-dark" style="color:white;">Fim</button>
      </ion-item>
      </ion-content>
  
</ion-view>
