<ion-view class="login">
  <body ng-app="starter">

    <ion-pane class="login-custom">
      <ion-content>
        <h1>Control<span>Garage</span></h1>

        <div class="login-label">
          <ion-item class="item-input">
            <i class="icon ion-ios-person-outline placeholder-icon"></i>
            <input type="text" placeholder="Usuario">
          </ion-item>
          <ion-item class="item-input">
            <i class="icon ion-ios-locked-outline placeholder-icon"></i>
            <input type="text" placeholder="Senha">
          </ion-item>
          <ion-item class="item-button button-first">
            <button class="button button-block button-dark" ng-click="logar()">Entrar</button>
          </ion-item>
          <ion-item class="item-button">
            <button class="button button-block button-clear">Criar uma Conta</button>
          </ion-item>
        </div>
      </ion-content>
    </ion-pane>
  </body>

</ion-view>
