<ion-view>
  <body ng-app="starter">
  <ion-nav-title>
      <h1 class="title" style="text-decoration:bold">Mapa</h1>
    </ion-nav-title>
    <ion-nav-bar class ="bar-dark">
        <ion-nav-back-button class="button button-dark" style="text-decoration:none; color:white">Voltar</ion-nav-back-button>
    </ion-nav-bar>
    <ion-pane>
      <ion-content ng-controller="AppCtrl">


  <label class="item item-input">
   <input type="text" placeholder="Endereço de origem" ng-model="mapas.txtOrigem">
   </label>

 <label class="item item-input">
   <input type="text" placeholder="Endereço de destino" ng-model="mapas.txtDestino">
   </label>

  <a style="text-decoration:none" ng-click="temporizador()"><button class="button button-block button-dark" ng-click="CalculaDistancia()"> 
    Calcula Distância 
  </button></a>


      
        <div><span id="litResultado">&nbsp;</span></div>
        <div style="padding: 10px 0 0; clear: both">
            <iframe width="750" scrolling="no" height="350" frameborder="0" id="map" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?saddr=são paulo&daddr=rio de janeiro&output=embed"></iframe>
        </div>

      </ion-content>
    </ion-pane>
  </body>
</ion-view>
